*{
    box-sizing: content-box;
    background: white;
}
.detail-container{
    background-color: #92A0B2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.detail-container
.detail-outer{
    background-color: #1464F4;
    display: flex;
    width: 1300px;
    height: 845px;
}
.detail-div-img, .detail-div-info{
    background-color: white;
    z-index: 20;
    border: 1px solid black;
}
.detail-div-img{
    width: 40%;
}
.detail-div-info{
    width: 60%;
}
.detail-outer .detail-div-info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainPic-container .mainPic{
    width: 95%;
    height: 450px;
    top: 0;
    padding: 10px 15px;
}
.mainPic-container {
    position: relative;
    height: 450px;
}
.inner-img{
    width: 450px;
    height: 450px;
    position: absolute;
    background: none;
    padding: 10px;
}
.row .column {
    float: left;
    width: 16.1%;
    padding: 15px 10px 10px 10px;
}
.row .column img{
    width: 83px;
    height: 83px;
}
.column img {
    cursor: pointer;
}
.share-like{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 518px;
    height: 25px;
    padding-top: 20px;
}
.share-icon-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.share-icon{
    display: flex;
    width: 50%;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 0 30px;
    border-right: 1px solid lightgrey;
    align-items: center;
    justify-content: center;
}
.like-icon{
    display: flex;
    width: 50%;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
}
.model-img {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.model-img.openModel .model-img-container{
    opacity: 1;
    pointer-events: auto;
}
.model-img-container{
    position: fixed;
    z-index: 100;
    width: 1250px;
    height: 860px;
    background: #FFFFFF;
    top: 30px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    opacity: 0;
    pointer-events: none;
}
.main-model-img{
    width: 75%;
}
.main-model-img img{
    width: 98%;
    height: 835px;
    padding: 12px 10px;
}
.model-img-content{
    width: 25%;
    padding: 5px;
}
.model-text{
    word-wrap: break-word;
    padding: 50px 10px 10px 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
.model-img-content .model-row .model-column{
    float: left;
    width: 24%;
    padding: 10px;
}
.model-column img{
    width: 80px;
    height: 80px;
    cursor: pointer;
}
