/*footer css*/
footer {
    box-sizing: border-box;
    background-color: #E9ECF0;
    border-style: solid;
    border-width: 3px;
    border-image: linear-gradient(to left, cyan, lightblue, darkblue, darkblue, lightblue, cyan) 1 0 0 0;
    transition: 0.3s;
    padding: 52px 0 0 0;
    position: relative;
    display: flex;
    justify-content: center;
    line-height: 24px;
    overflow: hidden;
}

.outer-footer {
    display: flex;
    width: 1420px;
    justify-content: space-between;
    margin:auto;
    padding: 10px;
    font-size: 16px;
}

.outer-footer a {
    text-decoration: none;
}
.footer-log img{
    width: 80px;
    height: 80px;
}
.footer-about {
    width: 25%;
}

.footer-policy {
    width: 15%;
}

.footer-contact {
    width: 15%;
}

.footer-contact a {
    display: block;
    color: black;
    word-wrap: break-word;
}
.footer-contact a i img{
    display: flex;
    width: 15px;
    height: 15px;
}
.footer-contact a {
    display: flex;
    align-items: center;
}
.footer-contact a span{
    color: #1464F4;
    padding: 0 0 0 5px;

}

.footer-about a, .footer-policy a {
    display: block;
    color: #3C3C3C;
}

.footer-about a span, .footer-policy a span{
    padding: 0 0 0 5px;
}
.outer-footer ul {
    list-style-type: none;
    padding: 0;
}
.outer-footer li{
    padding: 5px;
}

.outer-footer p {
    margin: 0;
}
.footer-about-p1{
    font-size: 20px;
}
.footer-about-p2{
    font-size:14px;
}
/*end footer css*/
/*article gan day css*/
.gd{
    position: relative;
    padding: 0 0 60px 0;
    display: flex;
    justify-content: center;
}
.gd a {
    display: block;
    text-decoration: none;
    color: #3C3C3C;
}

.padding-outer-article-gd{
    padding: 10px;
    height: 750px;

}
.outer-article-gd{
    width: 1290px;
}

.article-gd-content-img{
    width:283px;
    height:187px;
}
.article-gd-author-img{
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 30px;
}

.article-gd-title{
    padding: 0 0 10px 0;
    width: 100%;
}
.article-gd-outer-content{
    display: grid;
    grid-template-columns: 47% 49%;
    justify-content: space-evenly;
    row-gap: 5%;
}
.article-gd-content-detail-others{
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    gap:30px;
}
.article-gd-content-outer,.article-gd-content-detail-others,.article-gd-content-detail-others a{
    display: flex;

}

.article-gd-content-detail-others-author-name,.article-gd-content-detail-others span{
   margin: auto 0 auto 0;
    font-size: 12px;
}
.article-gd-content-detail-others-date a{
    color:#707070;
}
.article-gd-content-detail{
    margin: 0 0 10px 30px;
    border-bottom: 1px solid #D9E1E2;
}
/*end article gan day css*/
/*article hoi dap su kien css*/
.hdsk{
    box-sizing: border-box;
   margin-top:20px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
.outer-article-hdsk{
    max-width: 1310px;
    display: flex;

}
.outer-article-hdsk a {
    text-decoration: none;
}
.article-hdsk-content-hd{
    line-height: 1.5;
}
.article-hdsk-content-outer-hd,.article-hdsk-content-outer-sk{
    width: 50%;
    padding: 10px;
}
.article-hdsk-content-hd-outer-content{
display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
}
.article-hdsk-content-hd-content{
    display: grid;
    align-items: center;
    grid-template-columns: 104px 1fr
}
.article-hdsk-content-hd-content div,.article-hdsk-content-hd-content div div{
    display: flex;
}


.article-hdsk-hashtag-outer div a {
    display: inline-block;
    margin-right: 20px;
}
.article-hdsk-content-hd-content div h3 a{
    color:#1E2132;
    font-size:16px;
    font-weight: lighter;
    line-height: 24px;
}
.article-hdsk-outer-content-item{
    display: flex;
    flex-direction: column;
    background-color: #F8F9FA;
    padding: 5px 24px;
    width: 100%;
}

.article-hdsk-outer-author,.article-hdsk-outer-author a {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.article-hdsk-content-hd-content{
    display: flex;
}
.article-hdsk-content-hd-content-item-outer{
    display: flex;
    padding: 5px 24px;
    flex-wrap: wrap;
    width: 100%;

}

.article-hdsk-content-hd-content-item{
}
.article-hdsk-author-name{
    color: #3C3C3C;
    font-size: 12px;
    font-weight: 600;
    margin-right: 5px;

}
.article-hdsk-date a{
    color: #707070;
    font-size: 12px;
}
.article-hdsk-content-hd-content-item div a img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.article-hdsk-content-sk-content-feature a div img{
    width: 650px;
    height: 252px;
}
.article-hdsk-content-sk-title{
    display: flex;
    padding: 0 0 10px 0;
}
.artile-hdsk-content-sk-title-title {
    flex: 50%;

}
.artile-hdsk-content-sk-next-button{
    flex: 50%;
    display: flex;

    justify-content: end;
    align-items: center;

}


.article-hdsk-outer-span{
    display: flex;
    justify-content: center;
}
.article-hdsk-span-title,.article-hdsk-span-arrow{
    display: flex;
    justify-content: center;
}
.article-hdsk-span-arrow svg{
    padding-top: 7px;
}
.article-hdsk-span-title{
    padding-right: 5px;
}
.article-hdsk-content-sk-content-feature-event-outer{
    padding: 12px 20px;
    background-color: #F8F8F8;
    font-size:12px;
    font-weight: 150;
    color: #92A0B2;
}
.article-hdsk-content-sk-content-feature-event-outer a {
    color: #3C3C3C;
    font-size:14px;
    font-weight: 300;
}
