@import "https://fonts.googleapis.com/css?family=Poppins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    /*background: #dee1e2;*/
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

.nav {
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    z-index: 10;
    box-shadow: 0 1px 0 0 rgba(139, 141, 157, .05), 0 5px 10px 0 rgba(65, 71, 108, .15);
}

.nav-container {
    display: flex;
    width: 1344px;
    padding: 0 10px;
    margin: auto;
    justify-content: center;

}


.nav .logo {
    height: 40px;
    display: flex;
}

.nav a {
    color: black;
    text-decoration: none;
}

.nav .navBar li {
    display: flex;
    text-align: center;
    float: left;
    list-style: none;
    margin: 0 10px;
    padding: 10px 25px;
    flex-direction: row;
    font-size: 13px;

}

#iconDrop, #iconDrop1 {
    margin: 0 5px;
    cursor: pointer;

}

.nav.openSearch .navBar {
    opacity: 0;
    pointer-events: none;
}

.nav.openSearch .ul2 {
    opacity: 0;
    pointer-events: none;
}

.nav.openSearch .logo {
    opacity: 0;
    pointer-events: none;
}

#searchIcon {
    cursor: pointer;
    font-size: 15px;
    margin: auto;
}



.nav .nav-container .search-box {
    position: absolute;
    height: 45px;
    max-width: 555px;
    /*left: 650px;*/
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
    align-items: center;
}

.nav.openSearch {
    display: flex;
    justify-content: center;
}

i#searchIcon.fas.fa.times.search-icon::before {
    display: flex;
    justify-content: center;
}
.nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
}
.search-box{
    display: flex;
}
.search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
}
.search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: #dee1e2;
    padding: 0 15px 0 45px;
    display: flex;
    justify-content: center;
}

.nav ul.ul2 {
    display: flex;
    font-size: 13px;

}

ul .ul12 li, ul .ul12 li a{
    display: flex;
    align-content: end;
}
ul.ul2 {
    align-items: center;
}
.nav ul.ul2 li a.login {
    display: block;
    margin: 0 15px;
}

.nav ul.ul2 li a.register {
    border: 1px solid blue;
    background: blue;
    color: white;
    background-clip: padding-box;
    padding: 10px 15px;
    display: block;
}

.nav a.bdr {
    border-right: 1px solid grey;
    height: 20px;
    text-align: center;
    margin: 15px;
}

.dropbtn {
    color: black;
    border: none;
    background: white;
    font-size: 13px;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    border: 2px solid white;
    z-index: 1;
    background: white;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: inline-block;
    background: white;
    width: 170px;
    padding: 10px 15px 10px;
    left: 10px;
    text-align: left;
    border: 5px solid white;
}

.dropdown-content a:hover {
    background-color: lightgrey;
    border-radius: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a.homebtn {
    color: dodgerblue;
}

a.homebtn:hover {
    background: lightgrey;
    border-radius: 5px;
}
